# Ignore Python virtual environment
backend/venv/

# Ignore node_modules and build files
frontend/node_modules/
frontend/build/

# Ignore common OS files
.DS_Store

# Ignore SQLite database and log files
*.db
*.log
